
//variables
$baseColor : white;
$fontColor : red;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: $baseColor;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
svg{
  width: 100px;
  height: 100px;
  margin: 20px;
}

.hours{
    animation: rotation 48s linear infinite;
    transform-origin: top;
    transform-box: fill-box;
}

.minutes{
    animation: rotation 4s linear infinite;
    transform-origin: left;
    transform-box: fill-box;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
