*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 32px;
    position: relative;
    background: #F2F4F7;
}

/*
   ================================================================= SIDEBAR CSS HERE
*/
.sideBar{
    position: relative;
    box-sizing: border-box;
    width: 232px;
    height: 1024px;
    background: #FFFFFF;
    border-right: 1px solid #EAECF0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sideBar__branding{
    position: relative;
    width: 99px;
    height: 30px;
    left: 8.62%;
    top: 1.75%;
}

.sideBar__navBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    position: relative;
    height: 47.46%;
    top: 54px;
}

.sideBar__navBar--section1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sideBar__navBar--section2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3.29%;
    width: 100%;
    height: 26.33%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.sideBar__navBar--header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: 8.62%;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sideBar__navBar--headerText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #9D9FA2;
}

.sideBar__navBar--links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.sideBar__navBar--linksElementExtended{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.13% 8.62%;
    gap: 10.52%;
    width: 100%;
    height: 152px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.link__header--opened{
    position: relative;
    width: 100%;
    height: 17.18%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link__header--icon--opened{
    width: 10.455%;
    aspect-ratio: 1/1;
}

.link__header--name--opened{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #5F6980;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 5.46%;
}

.link__header--expander--opened{
    position: absolute;
    width: 10.41%;
    aspect-ratio: 1/1;
    right:2.5%;
    order: 2;
}

.link__subLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16%;
    gap: 12px;
    width: 192px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.link__subLink--items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #5F6980;
}

.chosen{
    color: #282828;
}

.sideBar__navBar--linksElement{
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.link__header{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link__header--icon{
    position: relative;
    width: 8.62%;
    aspect-ratio: 1/1;
    left: 8.62%;
    order: 0;
}

.link__header--name{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #5F6980;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 12.06%;
}

.link__header--expander{
    position: absolute;
    order: 2;
    width: 8.62%;
    aspect-ratio: 1/1;
    right: 9.81%;
}

.sideBar__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* 
@media screen and (max-width: 880px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 12px;
    }
    .sideBar__branding{
        width: 95px;
    }
}

@media screen and (max-width: 830px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 11px;
    }
    .sideBar__branding{
        width: 90px;
    }
}

@media screen and (max-width: 780px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 10px;
    }
     .sideBar__branding{
        width: 85px;
    }
}

@media screen and (max-width: 730px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 9px;
    }
     .sideBar__branding{
        width: 80px;
    }
}

@media screen and (max-width: 680px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 8px;
    }
    .sideBar__branding{
        width: 75px;
    }
}

@media screen and (max-width: 630px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 7px;
    }
    .sideBar__branding{
        width: 70px;
    }
}

@media screen and (max-width: 580px) {
    .sideBar__navBar--headerText, .link__header--name--opened, .link__header--name, .link__subLink--items{
        font-size: 6px;
    }
    .sideBar__branding{
        width: 65px;
    }
}

@media screen and (max-width: 480px) {
    .sideBar__branding{
        width: 60px;
    }
}

@media screen and (max-width: 430px){
    .sideBar{
        display: none;
    }
} */

/*
=================================================================================== BODY CSS HERE
*/


/* ===================================================================HEADER GOES HERE */
.body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1208px;
    height: 1530px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.header{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 66px;
    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 74.91%;
    height: 46px;
    left: 32px;
    top: calc(50% - 46px/2);
}

.form__searchInput{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 44px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background-image: url("svgs/search.svg");
    background-repeat: no-repeat;
    background-position: 1.76%;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 17.21%;
    height: 40px;
    right: 31px;
    top: calc(50% - 40px/2 + 2px);
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 65.38%;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.avatar{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 38.6667px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.avatar__indicator--online{
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    right: 1px;
    top: 31px;
    background: #20C997;
    border: 1.33333px solid #FFFFFF;
    border-radius: 66.6667px;
}

.icons__element{
    height: 100%;
    aspect-ratio: 1/1;
}

.icons__element--offline{
    display: flex;
    position: relative;
    width: 6.86px;
    height: 6.86px;
    right: -18px;
    top: -30px;
    background: #E25563;
    border-radius: 85.7143px;
}

/* =================================================================MAIN BODY HERE */


.body__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
    width: 100%;
    height: 1432px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.banner{
    position: relative;
    width: 100%;
    height: 128px;
    background: #282828;
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.banner__texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 286px;
    height: 64px;
    left: 36px;
    top: calc(50% - 64px/2);
}

.banner__texts--big{
    width: 284px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner__texts--small{
    width: 286px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 24px;
    gap: 4px;
    position: absolute;
    width: 143px;
    height: 46px;
    right: 36px;
    top: calc(50% - 46px/2);
    background: #FFFFFF;
    border-radius: 39px;
}

.banner__button--icon{
    width: 20px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner__button--text{
    width: 65px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #282828;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*=========================================================================== METRICS HERE */

.metrics{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 162px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.metrics__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;
    width: 262px;
    height: 162px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.card__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 122px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 66px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5F6980;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__amount{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    color: #282828;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 24px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card__badge--red{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
    width: 54px;
    height: 24px;
    background: #FFE0E3;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card__badge--green{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
    width: 54px;
    height: 24px;
    background: #DCFFF5;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card__badge--grey{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
    width: 54px;
    height: 24px;
    background: #F2F4F7;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card__badge--number--green{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #20C997;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.card__badge--number--red{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #DC3545;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.card__badge--number--grey{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #5F6980;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.card__from{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #9D9FA2;
    flex: none;
    order: 1;
    flex-grow: 1;
}

/* ===============================================================CHARTS */

.charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 24px;
    gap: 32px;
    width: 100%;
    height: 458px;
    background: #FFFFFF;
    border-radius: 12px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.charts__header{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.charts__header--text{
    position: absolute;
    left: 24px;
    top: calc(50% - 30px/2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #282828;
}

.charts__header--dots{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: calc(50% - 24px/2);
}

.charts__legend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 22px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.legend__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 86px;
    height: 22px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.legend__item--green{
    width: 12px;
    height: 12px;
    background: #20C997;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
}

.legend__item--blue{
    width: 12px;
    height: 12px;
    background: #5A9CFE;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
}

.legend__item__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #5F6980;
    flex: none;
    order: 1;
    flex-grow: 0;
}