*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

#functional-example{
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    margin-top: 44px;
    width: 74.3%;
}

.header{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
}

.navBar{
    display: flex;
    width: 100%;
    height: 52px;
    margin-top: 44px;
}

.navBar--form{
    height:100%;
    width: 79%;
}

.searchBar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    padding-left: 21px;
    width: 100%;
    height: 100%;
    left: 0px;
    background: #F5F5F5;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
}

.addNewButton{
    display: grid;
    align-items: center;
    justify-self: center;
    gap: 10px;
    position: relative;
    width: 16.63%;
    height: 100%;
    margin-left: 39px;
    background: rgba(60, 134, 244, 0.15);
    border-radius: 12px;
    border: none;
    color: #0053CF;
}

li::marker{
    content: "";
}

.listsDiv--uncompleted, .listsDiv--completed{
    margin-top: 42px;
}

.listTitle-uncompleted, .listTitle-completed{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 12px;
}

.listItem--uncompleted, .listItem--completed{
    margin-top: 12px;
    width: 50.68%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    padding-left: 0;
    gap: 20px;
    position: relative;
    height: 38px;
    left: 0px;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #D3D3D3;
    border-radius: 4px;
    vertical-align: middle; 
    margin-left: 12px;
  }
  
  input[type="checkbox"]:checked {
    background-repeat: no-repeat;
    background-color: #ccc;
    background-image: url(images/checked.svg);
    background-size: inherit;
    background-position: center;
  }

  .deleteIcon{
    position: absolute;
    right:0;
  }

.taskParagraph--completed{
    color: #838383;
}

.popupDiv{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 524px;
    height: 371px;
    left: 50%;
    top: 158px;
    transform: translate(-50%, 0);
    background: #FFFFFF;
    border: 1px solid #0053CF;
    border-radius: 24px;
}

.popupTitle{
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.popupField{
    display: flex;
    margin-top: 38px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(88% - 21px);
    height: 52px;
    padding-left: 21px;
    gap: 10px;
    background: #F5F5F5;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
}

.addTaskButton--grey{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(43% - 32px);
    height: 52px;
    bottom: 22px;
    right: 27px;
    border: none;
    background: #D3D3D3;
    border-radius: 12px;
    flex: none;
    order: 1;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.cancelButton{
    position: absolute;
    left: 120.25px;
    bottom: 38px;
    border: 0;
    background-color: #FFFFFF;
    color: #0053CF;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.addTaskButton--blue{
    background-color: #3C86F4;
}