*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

#functional-example{
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    margin-top: 44px;
    width: 74.3%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 85px;
}

.headerName{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
}

.navBar{
    display: flex;
    width: 100%;
    height: 52px;
}

.navBar--form{
    height:100%;
    width: 79%;
}

.searchBar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    padding-left: 21px;
    width: 100%;
    height: 100%;
    left: 0px;
    background: #F5F5F5;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
}

.addNewButton{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-self: center;
    gap: 10px;
    position: relative;
    width: 16.63%;
    height: 100%;
    margin-left: 39px;
    background: rgba(60, 134, 244, 0.15);
    border-radius: 12px;
    border: none;
    color: #0053CF;
}

li::marker{
    content: "";
}

.listsDiv--uncompleted, .listsDiv--isCompleted{
    margin-top: 42px;
}

.listTitle-uncompleted, .listTitle-isCompleted{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 12px;
}

.listItem--uncompleted, .listItem--isCompleted{
    margin-top: 12px;
    width: 50.68%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    padding-left: 0;
    gap: 20px;
    position: relative;
    height: 67px;
    left: 0px;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #D3D3D3;
    border-radius: 4px;
    vertical-align: middle; 
    margin-left: 12px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-repeat: no-repeat;
    background-color: #ccc;
    background-image: url(images/checked.svg);
    background-size: inherit;
    background-position: center;
  }

  .deleteIcon{
    position: absolute;
    cursor: pointer;
    right:0;
  }

.taskParagraph--isCompleted{
    color: #838383;
}

.popupDiv{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 524px;
    height: 371px;
    left: 50%;
    top: 158px;
    transform: translate(-50%, 0);
    background: #FFFFFF;
    border: 1px solid #0053CF;
    border-radius: 24px;
}

.popupTitle{
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.popupField{
    display: flex;
    margin-top: 38px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(88% - 21px);
    height: 52px;
    padding-left: 21px;
    gap: 10px;
    background: #F5F5F5;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
}

.addTaskButton--grey{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(43% - 32px);
    height: 52px;
    bottom: 22px;
    right: 27px;
    border: none;
    background: #D3D3D3;
    border-radius: 12px;
    flex: none;
    order: 1;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.cancelButton{
    cursor: pointer;
    position: absolute;
    left: 120.25px;
    bottom: 38px;
    border: 0;
    background-color: #FFFFFF;
    color: #0053CF;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.addTaskButton--blue{
    cursor: pointer;
    background-color: #3C86F4;
}

.listItem__Middle{
    display: flex;
    flex-direction: column;
    position: relative;
}

.listItem__Attributes{
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 20px;
}

.listItem__Tag--tag--uncompleted, .listItem__Tag--home--uncompleted, .listItem__Tag--health--uncompleted, .listItem__Tag--work--uncompleted, .listItem__Tag--other--uncompleted{
    display: flex;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 2px 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    border: 0;
}

.listItem__Tag--tag--isCompleted, .listItem__Tag--home--isCompleted, .listItem__Tag--health--isCompleted, .listItem__Tag--work--isCompleted, .listItem__Tag--other--isCompleted{
    display: flex;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 2px 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: #F5F5F5;
    color: #838383;
    border: 0;
}

.listItem__Tag--tag--uncompleted, .listItem__Tag--other--uncompleted{
    background: #FFECC7;
    color: #EA8C00;
}

.listItem__Tag--home--uncompleted{
    background: #E2F7E2;
    color: #639462;
}

.listItem__Tag--health--uncompleted{
    background: rgba(60, 134, 244, 0.31);
    color: #0053CF;
}

.listItem__Tag--work--uncompleted{
    background: #E8D7FF;
    color:#9747FF;
}

.listItem__date{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #838383;
}

.tagsInput{
    display: flex;
    position: absolute;
    left: 32px;
    top: 176px;
    gap: 12px;
}

.tagsInput__work--selected{
    border: 1px solid #9747FF;
}
.tagsInput__home--selected{
    border: 1px solid #639462;
}
.tagsInput__health--selected{
    border: 1px solid #0053CF;
}
.tagsInput__other--selected{
    border: 1px solid #EA8C00;
}

.dateInput{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 10px;
    position: absolute;
    width: 107px;
    height: 40px;
    right: 5.5%;
    top: 165px;
    background: #FFFFFF;
    border: 2px solid grey;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1D1D1D;
}
.dateInput--filled{
    border: 2px solid rgba(60, 134, 244, 0.6);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.cursorOnTag{
    cursor: pointer;
}

.weatherContainer{
    position: relative;
    width: 332px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.weather__icon{
    position: absolute;
    left: 6.63%;
    right: 76.2%;
    top: 16.92%;
    bottom: 15.38%;
    width: 17%;
    height: 44px;
    background-color: #0053CF;
}

.weather__degrees{
    position: absolute;
    left: 30.77%;
    right: 50%;
    top: 35%;
    bottom: 35%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}

.weather__location{
    position: absolute;
    left: 74.56%;
    right: 4.44%;
    top: 35%;
    bottom: 35%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #838383;
}